{% load static %}
<div class="menu">
        <div class="logo">
            <img src="{% static 'image/guap.svg' %}">
        </div>
        <div class="nav-block">
            <div class="div-a">
                <a href="">Участники</a>
            </div>
            <div class="div-a">
                <a href="">Мероприятия</a>
            </div>
            <div class="div-a">
                <a href="">Публикации</a>
            </div>
        </div>
        <div class="enter-nav">
            <div class="enter-img">
                <img src="{% static 'image/enter-vector.svg' %}">
            </div>
            <div class="div-a">
                <a href="" style="color:black">Вход</a>
            </div>
        </div>
</div>