{% extends "base.html" %}

{% load static %}
<link rel="stylesheet" href="{% static 'css/style.css' %}" />

{% block title %}{{user.first_name + user.last_name}}{% endblock title%}

{% block content %}
{% block info %}
<div class="info">
    <div class="left-column">
        <div class="div-name">
            <div class="div-h2">
                <h2>{{user.first_name + user.last_name}}</h2>
            </div>
        </div>
        <div class="education">
            <div class="div-h3">
                <h3>Образование</h3>
            </div>
            <div class="div-p">
                <p>{{user.education}}</p>
            </div>
        </div>
        <div class="organization">
            <div class="div-h3">
                <h3>Организация</h3>
            </div>
            <div class="div-p">
                <p>{{user.organization}}</p>
            </div>
        </div>
    </div>
    <div class="right-column">
        <div class="profile-image-block">
            <div class="image">
                <img src="{% static 'image/image.svg' %}">
            </div>
        </div>
        <div class="dop-info">
            <div class="div-p email">
                <p>Email: </p>
            </div>
            <div class="div-p blue-text">
                <p>{{user.email}}</p>
            </div>
            <div class="div-p">
                <p>Номер телефона: </p>
            </div>
            <div class="div-p blue-text">
                <p>{{user.phone_number}}</p>
            </div>
        </div>
    </div>
</div>
{% endblock info %}

{% block 3-last-conference%}
<div class="board-card-section">
    <div class="div-header">
        <div class="div-h2">
            <h2>{{conference_h2}}</h2>
        </div>
        <div class="div-a">
            <a>{{conference_a}}</a>
        </div>
    </div>
    <div class="board">
        {% for event in events %}
        <div class="card">
            <div class="image-block">
                <div class="image">
                    <img src="{% static 'image/image.svg' %}">
                </div>
            </div>
            <div class="content">
                <div class="div-h3">
                    <h3>{{event.name}}</h3>
                </div>
                <div class="div-p">
                    <p>{{event.about}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock 3-last-conference %}

{% block 3-last-article %}
<div class="board-card-section">
    <div class="div-header">
        <div class="div-h2">
            <h2>{{article_h2}}</h2>
        </div>
        <div class="div-a">
            <a>{{article_a}}</a>
        </div>
    </div>
    <div class="board">
        {% for article in articles %}
        <div class="card">
            <div class="image-block">
                <div class="image">
                    <img src="{% static 'image/image.svg' %}">
                </div>
            </div>
            <div class="content">
                <div class="div-h3">
                    <h3>{{article.title}}</h3>
                </div>
                <div class="div-p">
                    <p>{{article.about}}</p>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock 3-last-article %}
{% endblock content %}